<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>19722115440-oe6nf4bqrqo1gcf5505ldl60afrte6u5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.19722115440-oe6nf4bqrqo1gcf5505ldl60afrte6u5</string>
	<key>API_KEY</key>
	<string>AIzaSyAZ3-zr6I62ORYoe_WvyUQBSB685_z2MzY</string>
	<key>GCM_SENDER_ID</key>
	<string>19722115440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.defnecetiner.HamHam-Lezzetler</string>
	<key>PROJECT_ID</key>
	<string>hamham-tarifler</string>
	<key>STORAGE_BUCKET</key>
	<string>hamham-tarifler.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:19722115440:ios:f76e529ab0cda3d9c897b5</string>
</dict>
</plist>